<div class="row">
  <div class="col-md-6" *ngFor="let item of filteredCharacter" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="1"  (scrolled)="onScrollDown()">
    <div class="card mb-3" style="background-color: transparent; max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="item.image" class="img-fluid rounded-start" alt="Imagem do Personagem">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style="color:white">{{ item.name }}</h5>
            <p class="card-text" style="color:white">{{item.status + ' - ' + item.species}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
