<nav class="d-flex flex-column h-100">
  <div (click)="profileGo()" class="d-flex align-items-center mb-3 user-card">
    <img src="https://via.placeholder.com/50" class="rounded-circle m-2" alt="User Image">
    <div class="user-info">
      <div>{{ 'Óla, ' + dataUser.name }}</div>
    </div>
  </div>

  <a (click)="homeGo()">Home</a>
  <a (click)="listaEpisodeGo()">Episódios</a>
  <a (click)="listCharacterGo()">Personagens</a>

  <div class="mt-auto text-center">
    <button class="btn btn-danger w-95 mb-3" (click)="logoutGo()">Logout</button>
  </div>
</nav>
