:host {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; /* Defina a largura desejada */
  background-color: #333; /* Cor de fundo do sidebar */
  color: white;
  overflow-x: hidden; /* Para evitar barra de rolagem horizontal */
  padding-top: 20px;
}

:host a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

:host a:hover {
  background-color: #575757;
}

/* Adicione essas regras para garantir a quebra de texto */
.user-info {
  word-wrap: break-word;
  word-break: break-all;
}

:host small {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Permitir quebra de linha */
}

.user-card {
  cursor: pointer; /* Indica que o elemento é clicável */
  transition: background-color 0.3s ease; /* Transição suave para o background */
}

.user-card:hover {
  background-color: #f0f0f059; /* Cor de fundo ao passar o mouse */
}
